@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

body {
  background-color: white;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: auto;
}
nav .navbar-toggler-icon{
  width: 3em;
  height: 3em;
}
nav .navbar-brand {
  font-size: 18pt;
  color: #ee8572;
  right: 5%;
  line-height: 1.22;
  text-align: left;
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c', '微軟正黑體';
}
nav.navbar.fixed-top.navbar-expand-lg.navbar-light {
  background-color: #fff;
  border-bottom: solid #c0c0c0 1px;
  height: 10.1%;
  padding-bottom: 1%;
  padding-top: 1%;
}
.hideUp nav.navbar.fixed-top.navbar-expand-lg.navbar-light {
  top: -350px;
  left: 5%;
}
nav.navbar.fixed-top.navbar-expand-lg.navbar-light a {
  color: #ffba5a;
  font-weight: bold;
  margin-left: 2%;
  /*transition-duration: 0.5s;*/
}
nav.navbar.fixed-top.navbar-expand-lg.navbar-light a .workwell{
  color: #ff7657;
  margin-bottom: -20%;
  font-family: 'M PLUS Rounded 1c', '微軟正黑體';
}
nav.navbar.fixed-top.navbar-expand-lg.navbar-light a:hover {
  color:#ff7657;
  transform: scale(1.1);
}
nav.navbar.fixed-top.navbar-expand-lg.navbar-light #here {
  color: #ff7657;
}
nav.navbar.fixed-top.navbar-expand-lg.navbar-light #navbarSupportedContent {
  background-color: #fff;
  padding: 0.4%;
  margin-top: 0.5%;
  width: 100%;
  margin-left: 10%;
}
nav.navbar.fixed-top.navbar-expand-lg.navbar-light
  #navbarSupportedContent
  .nav-link {
  font-size: large;
  margin-right: 100px;
  margin-left: 3px;
  width: 80%;
}
/*---上面為nav----*/

/*----以下為swiper--*/
.container-fluid {
  margin-top: 10px;
  padding: 0px;
  width: 97.5%;
}
.container-fluid #swiper .swiper-container {
  width: 100%;
  height: 100vh;
  /*用82vh 90%width會是沒有滾動軸的樣子 可是圖形會變扁*/
  margin-left: auto;
  margin-right: auto;
}
.container-fluid #swiper .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@keyframes rotate{
  0%{
    transform: rotate(0deg);
    opacity: 0;
  }
  90%{
    opacity: 1;
  }
  100%{
    transform: rotate(360deg);
    opacity: 1;
  }
}
.container-fluid #swiper .swiper-container .swiper-slide .one {
  height: 47.6%;
  width: 23.8%;
  margin-top: 0px;
  border-radius: 50%;
  margin-right: 18.2%;
  margin-left: 58%;
  animation: rotate 1.5s;
}
@keyframes scale{
  0%{
    transform: scale(0.9);
    opacity: 0;
  }
  60%{
    transform: scale(1.2);
    opacity: 0.6;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.container-fluid #swiper .swiper-container .swiper-slide div .name {
  font-size: 2rem;
  color: #ff7657;
  font-weight: bold;
  position: absolute;
  left: 15.2%;
  top: 20%;
  /*margin-left: -1260px;
  margin-top: -200px;*/
  animation: scale 1s;
  width: fit-content;
}
@keyframes slipdown{
  0%{
    transform: translate(0,-20px);
    opacity: 0;
  }
  60%{
    opacity: 0.1;
  }
  80%{
    transform: translate(0,10px);
    opacity: 0.5;
  }
  100%{
    transform: translate(0,-5);
    opacity: 1;
  }
}
.container-fluid #swiper .swiper-container .swiper-slide .putwordsinside {
  position: absolute;
  width: 30%;
  left: 15.2%;
  top: 32%;
  animation: slipdown 3s;
  animation-delay: -2;
}
.container-fluid
  #swiper
  .swiper-container
  .swiper-slide
  .putwordsinside
  .words {
  position: absolute;
  color: #7e7e7e;
  font-size: 1rem;
  font-weight: normal;
  text-align: justify;
  text-justify: inter-ideograph;
}
#myChart {
  width: 40%;
  height: 100%;
  position: absolute;
  margin-left: 300px;
  margin-top: 10px;
}
.container-fluid #swiper .swiper-container .swiper-slide .morebtn {
  border-radius: 31px;
  height: 40px;
  width: 99px;
  background-color: #665c84;
  position: absolute;
  left: 15.2%;
  bottom: 180px;
  cursor: pointer;
}
.container-fluid #swiper .swiper-container .swiper-slide .morebtn p {
  color: #fff;
  line-height: 2.2;
  font-size: 1.1rem;
  transition-duration: 0.5s;
}
.container-fluid #swiper .swiper-container .swiper-slide .morebtn p:hover {
  color: #ff7657;
  
}
.container-fluid #swiper .swiper-container .swiper-slide .backbtn {
  border-radius: 9px;
  height: 40.1px;
  width: 38.8px;
  background-color: #665c84;
  position: absolute;
  right: 2.1%;
  bottom: 12.5%;
}
.container-fluid #swiper .swiper-container .swiper-slide .backbtn a {
  color: #ff7657;
  line-height: 2.2;
  font-weight: 900;
  font-size: 1.1rem;
  transition-duration: 0.5s;
  text-decoration: none;
  margin-right: 6%;
}
.container-fluid #swiper .swiper-container .swiper-slide .backbtn a:hover {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.9;
}
.container-fluid #swiper .swiper-pagination {
  margin-right: 95%;
}
.swiper-pagination-bullet-active {
  background-color: #665c84;
}

.container-fluid #swiper .swiper-container .swiper-slide div .name02 {
  font-size: 2rem;
  color: #ff7657;
  font-weight: bold;
  position: absolute;
  left: 10.2%;
  top:30%;
  z-index: 5;
}
.container-fluid #swiper .swiper-container .swiper-slide .putwordsinside02 {
  position: absolute;
  width: 30%;
  left: 10.2%;
  top: 42%;
}
.container-fluid
  #swiper
  .swiper-container
  .swiper-slide
  .putwordsinside02
  .words02 {
  position: absolute;
  color: #7e7e7e;
  font-size: 1rem;
  font-weight: normal;
  text-align: justify;
  text-justify: inter-ideograph;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence02-1 {
  position: absolute;
  left: 30%;
  top: 40.5%;
  width: 80%;
  
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence02-1 p {
  color: #ffba5a;
  font-weight: 900;
  font-size: 1.8rem;
  animation-duration:4s;
  animation-direction: alternate;
  animation-delay: 3s;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence02-2 {
  position: absolute;
  left: 30%;
  top: 25.3%;
  width: 100%;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence02-2 p {
  color: #ffba5a;
  font-weight: 900;
  font-size: 1.8rem;
  animation-duration:4s;
  animation-delay: 6s;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence02-3 {
  position: absolute;
  left: 30.5%;
  top: 32.5%;
  width: 60%;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence02-3 p {
  color: #ffba5a;
  font-weight: 600;
  font-size: 1.8rem;
  animation-duration:4s;
  animation-delay: 9s;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence02-4 {
  position: absolute;
  left: 51%;
  top: 49%;
  width: 70%;
  display: block;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence02-4 p {
  color: #ffba5a;
  font-weight:900;
  font-size: 1.8rem;
  animation-duration:4s;
  animation-delay: 12s;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence02-5 {
  position: absolute;
  left: 45%;
  top: 54.6%;
  width: 37.2%;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence02-5 p {
  color: #ffba5a;
  font-weight: 900;
  font-size: 1.8rem;
  animation-duration:4s;
  animation-delay: 14s;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence02-6 {
  position: absolute;
  left: 39.4%;
  top: 62.3%;
  width: 60.6%;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence02-6 p {
  color: #ffba5a;
  font-weight: 900;
  font-size: 1.8rem;
  animation-duration:4s;
  animation-delay: 15s;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence02-7 {
  position: absolute;
  left: 42.5%;
  top: 70%;
  width: 40%;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence02-7 p {
  color: #ffba5a;
  font-weight: 900;
  font-size: 1.8rem;
  animation-duration:4s;
  animation-delay: 18s;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence02-8 {
  display: block;
  position: absolute;
  left: 38.5%;
  top: 47%;
  width: 40%;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence02-8 p {
  color: #ffba5a;
  font-weight: 900;
  font-size: 1.8rem;
  animation-duration:4s;
  animation-delay: 22s;
}
.container-fluid #swiper .swiper-container .swiper-slide .three-01 {
  height: auto;
  width: 35%;
  min-width: 400px;
  margin-top: 0px;
  border-radius: 50%;
  margin-left: 20%;
  position: absolute;
}
.container-fluid #swiper .swiper-container .swiper-slide .three-02 {
  height: auto;
  width: 220%;

  margin-top: 0px;
  border-radius: 50%;
  margin-left: 20%;
  position: absolute;
  opacity: 0;
  /*transition-duration: 0.1s;*/
}
.container-fluid #swiper .swiper-container .swiper-slide .three-02-show {
  height: auto;
  width: 40%;
  min-width: 400px;
  margin-top: 19px;
  border-radius: 50%;
  margin-left: 18.75%;
  position: absolute;
  opacity: 1;
}
.container-fluid #swiper .swiper-container .swiper-slide .basket03-1btn {
  color: #fff;
  background-color: #ff7657;
  position: absolute;
  left: 19%;
  top: 27%;
  width: 11.7%;
  min-width: 110px;
  height: 6.8%;
  border: none;
  z-index: 5;
  opacity: 1;
  cursor: auto;
  transition-duration: 0.3s;
}
.container-fluid #swiper .swiper-container .swiper-slide .basket03-1btn-hide {
  color: #ff856a;
  background-color: #ececec;
  position: absolute;
  left: 19%;
  top: 28.6%;
  width: 11.7%;
  min-width: 110px;
  height: 5.2%;
  border: none;
  z-index: 5;
  cursor: pointer;
  opacity: 1;
}
.container-fluid
  #swiper
  .swiper-container
  .swiper-slide
  .basket03-1btn-hide:hover {
  color: #665c84;
}
.container-fluid #swiper .swiper-container .swiper-slide .basket03-2btn {
  color: #ff856a;
  background-color: #ececec;
  position: absolute;
  left: 32%;
  top: 28.6%;
  width: 11.7%;
  min-width: 110px;
  height: 5.2%;
  border: none;
  z-index: 5;
  cursor: pointer;
  transition-duration: 0.3s;
  opacity: 1;
}
.container-fluid #swiper .swiper-container .swiper-slide .basket03-2btn:hover {
  color: #665c84;
}
.container-fluid #swiper .swiper-container .swiper-slide .basket03-2btn-show {
  color: #fff;
  background-color: #ff856a;
  position: absolute;
  left: 32%;
  top: 27%;
  width: 11.7%;
  min-width: 110px;
  height: 6.8%;
  border: none;
  z-index: 5;
  cursor: auto;
  opacity: 1;
}
.container-fluid
  #swiper
  .swiper-container
  .swiper-slide
  .basket03-2btn-show:hover {
  color: #fff;
}
.container-fluid #swiper .swiper-container .swiper-slide .basket03 {
  position: absolute;
  left: 16.5%;
  top: 30.4%;
  width: 28.8%;
  height: 40.1%;
  border: solid 1px #707070;
}
.container-fluid
  #swiper
  .swiper-container
  .swiper-slide
  .basket03
  .basket03-1words {
  color: #7e7e7e;
  margin-top: 21.3%;
  margin-left: 12.4%;
  margin-right: 12.4%;
  margin-bottom: 12.8%;
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-ideograph;
  opacity: 1;
  transition-duration: 0.5s;
}
.container-fluid
  #swiper
  .swiper-container
  .swiper-slide
  .basket03
  .basket03-1words-hide {
  color: #7e7e7e;
  margin-top: 21.3%;
  margin-left: 12.4%;
  margin-right: 12.4%;
  margin-bottom: 12.8%;
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-ideograph;
  opacity: 0;
  transition-duration: 0.5s;
}
.container-fluid
  #swiper
  .swiper-container
  .swiper-slide
  .basket03
  .basket03-2words {
  color: #7e7e7e;
  margin-top: 21.3%;
  margin-left: 12.4%;
  margin-right: 12.4%;
  margin-bottom: 12.8%;
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-ideograph;
  opacity: 0;
}
.container-fluid
  #swiper
  .swiper-container
  .swiper-slide
  .basket03
  .basket03-2words-show {
  color: #7e7e7e;
  margin-top: 21.3%;
  margin-left: 12.4%;
  margin-right: 12.4%;
  margin-bottom: 20%;
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-ideograph;
  opacity: 1;
  transition-duration: 0.5s;
}
.container-fluid #swiper .swiper-container .swiper-slide div .name04 {
  font-size: 2rem;
  color: #ff7657;
  font-weight: bold;
  position: absolute;
  left: 62.7%;
  top: 40.4%;
  z-index: 5;
}
.container-fluid #swiper .swiper-container .swiper-slide .putwordsinside04 {
  position: absolute;
  width: 30%;
  left: 62.7%;
  top: 51.4%;
}
.container-fluid
  #swiper
  .swiper-container
  .swiper-slide
  .putwordsinside04
  .words04 {
  position: absolute;
  color: #7e7e7e;
  font-size: 1rem;
  font-weight: normal;
  text-align: justify;
  text-justify: inter-ideograph;
}
.container-fluid
  #swiper
  .swiper-container
  .swiper-slide .wordspic{
    display: none;
  }
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-1 {
  position: absolute;
  left:-5%;
  top: 43.5%;
  width: 70%;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-1 p {
  color: #665c84;
  font-weight: 900;
  font-size: 3.5rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-1 p:hover {
  color: #ffba5a;
  font-weight: 900;
  font-size: 3.6rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-2 {
  position: absolute;
  left: -15%;
  top: 28%;
  width: 80%;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-2 p {
  color: #ffba5a;
  font-weight: 600;
  font-size: 2.2rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-2 p:hover {
  color: #665c84;
  font-weight: 900;
  font-size: 2.3rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-3 {
  position: absolute;
  left: 13.5%;
  top: 36.5%;
  width: 45%;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-3 p {
  color: #ffba5a;
  font-weight: 600;
  font-size: 2rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-3 p:hover {
  color: #665c84;
  font-weight: 900;
  font-size: 2.1rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-4 {
  position: absolute;
  left: 10%;
  top: 55%;
  width: 50%;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-4 p {
  color: #ffba5a;
  font-weight: 600;
  font-size: 1.2rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-4 p:hover {
  color: #665c84;
  font-weight: 900;
  font-size: 1.3rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-5 {
  position: absolute;
  left: -5%;
  top: 60%;
  width: 60%;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-5 p {
  color: #ffba5a;
  font-weight: 600;
  font-size: 2rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-5 p:hover {
  color: #665c84;
  font-weight: 900;
  font-size: 2.1rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-6 {
  position: absolute;
  left: 28.4%;
  top: 67.3%;
  width: 26.6%;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-6 p {
  color: #ffba5a;
  font-weight: 600;
  font-size: 2.1rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-6 p:hover {
  color: #665c84;
  font-weight: 900;
  font-size: 2.2rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-7 {
  position: absolute;
  left: 5%;
  top: 75%;
  width: 40%;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-7 p {
  color: #ffba5a;
  font-weight: 600;
  font-size: 1.7rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence04-7 p:hover {
  color: #665c84;
  font-weight: 900;
  font-size: 1.8rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .five {
  height: auto;
  width: 40%;
  margin-top: 15px;
  margin-left: 530px;
}
.container-fluid #swiper .swiper-container .swiper-slide div .name05 {
  font-size: 2rem;
  color: #ff7657;
  font-weight: bold;
  position: absolute;
  left: 15.2%;
  top: 34%;
  z-index: 5;
}
.container-fluid #swiper .swiper-container .swiper-slide .putwordsinside05 {
  position: absolute;
  width: 30%;
  left: 15.2%;
  top: 46%;
}
.container-fluid
  #swiper
  .swiper-container
  .swiper-slide
  .putwordsinside05
  .words05 {
  position: absolute;
  color: #7e7e7e;
  font-size: 1rem;
  font-weight: normal;
  text-align: justify;
  text-justify: inter-ideograph;
}
.container-fluid #swiper .swiper-container .swiper-slide .six-01 {
  height: auto;
  width: 17%;
  margin-top: 0px;
  border-radius: 50%;
  position: absolute;
  margin-left: 20%;
}
.container-fluid #swiper .swiper-container .swiper-slide .six-02 {
  height: 47.6%;
  width: 23.8%;
  margin-top: 0px;
  border-radius: 50%;
  position: absolute;
  margin-left: 20%;
  opacity: 0;
  /*transition-duration: 0.5s;*/
}
.container-fluid #swiper .swiper-container .swiper-slide .six-02-show {
  height: auto;
  width: 33%;
  margin-top: 0px;
  border-radius: 50%;
  position: absolute;
  margin-left: 20%;
  opacity: 1;
}
.container-fluid #swiper .swiper-container .swiper-slide .basket06-1btn {
  color: #fff;
  background-color:#ff896f;
  position: absolute;
  left: 20.48%;
  top: 27%;
  width: 11.7%;
  height: 6.8%;
  border: none;
  z-index: 5;
  opacity: 1;
  cursor: auto;
  transition-duration: 0.3s;
}
.container-fluid #swiper .swiper-container .swiper-slide .basket06-1btn-hide {
  color: #ff896f;
  background-color: #ececec;
  position: absolute;
  left: 20.48%;
  top: 28.6%;
  width: 11.7%;
  height: 5.2%;
  border: none;
  z-index: 5;
  cursor: pointer;
  opacity: 1;
}
.container-fluid
  #swiper
  .swiper-container
  .swiper-slide
  .basket06-1btn-hide:hover {
  color: #665c84;
}
.container-fluid #swiper .swiper-container .swiper-slide .basket06-2btn {
  color: #ff896f;
  background-color: #ececec;
  position: absolute;
  left: 33%;
  top: 28.6%;
  width: 11.7%;
  height: 5.2%;
  border: none;
  z-index: 5;
  cursor: pointer;
  transition-duration: 0.3s;
  opacity: 1;
}
.container-fluid #swiper .swiper-container .swiper-slide .basket06-2btn:hover {
  color: #665c84;
}
.container-fluid #swiper .swiper-container .swiper-slide .basket06-2btn-show {
  color: #fff;
  background-color: #ff896f;
  position: absolute;
  left: 33%;
  top: 27%;
  width: 11.7%;
  height: 6.8%;
  border: none;
  z-index: 5;
  cursor: auto;
  opacity: 1;
}
.container-fluid
  #swiper
  .swiper-container
  .swiper-slide
  .basket06-2btn-show:hover {
  color: #fff;
}
.container-fluid #swiper .swiper-container .swiper-slide .basket06 {
  position: absolute;
  left: 16.5%;
  top: 30.4%;
  width: 28.8%;
  height: 40.1%;
  border: solid 1px #707070;
}
.container-fluid
  #swiper
  .swiper-container
  .swiper-slide
  .basket06
  .basket06-1words {
  color: #7e7e7e;
  margin-top: 21.3%;
  margin-left: 12.4%;
  margin-right: 12.4%;
  margin-bottom: 12.8%;
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-ideograph;
  opacity: 1;
  transition-duration: 0.5s;
}
.container-fluid
  #swiper
  .swiper-container
  .swiper-slide
  .basket06
  .basket06-1words-hide {
  color: #7e7e7e;
  margin-top: 21.3%;
  margin-left: 12.4%;
  margin-right: 12.4%;
  margin-bottom: 12.8%;
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-ideograph;
  opacity: 0;
  transition-duration: 0.5s;
}
.container-fluid
  #swiper
  .swiper-container
  .swiper-slide
  .basket06
  .basket06-2words {
  color: #7e7e7e;
  margin-top: 21.3%;
  margin-left: 12.4%;
  margin-right: 12.4%;
  margin-bottom: 12.8%;
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-ideograph;
  opacity: 0;
}
.container-fluid
  #swiper
  .swiper-container
  .swiper-slide
  .basket06
  .basket06-2words-show {
  color: #7e7e7e;
  margin-top: 21.3%;
  margin-left: 12.4%;
  margin-right: 12.4%;
  margin-bottom: 20%;
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-ideograph;
  opacity: 1;
  transition-duration: 0.5s;
}
.container-fluid
  #swiper
  .swiper-container
  .swiper-slide .wordspic07{
    display: none;
  }
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-1 {
  position: absolute;
  left: -10%;
  top: 40.5%;
  width: 80%;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-1 p {
  color: #665c84;
  font-weight: 900;
  font-size: 3.5rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-1 p:hover {
  color: #ffba5a;
  font-weight: 900;
  font-size: 3.6rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-2 {
  position: absolute;
  left: 2%;
  top: 25.3%;
  width: 40%;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-2 p {
  color: #ffba5a;
  font-weight: 600;
  font-size: 2.2rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-2 p:hover {
  color: #665c84;
  font-weight: 600;
  font-size: 2.3rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-3 {
  position: absolute;
  left: 25.5%;
  top: 34.5%;
  width: 30%;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-3 p {
  color: #ffba5a;
  font-weight: 600;
  font-size: 2rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-3 p:hover {
  color: #665c84;
  font-weight: 600;
  font-size: 2.1rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-4 {
  position: absolute;
  left: 0%;
  top: 53%;
  width: 70%;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-4 p {
  color: #ffba5a;
  font-weight: 600;
  font-size: 1.2rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-4 p:hover {
  color: #665c84;
  font-weight: 600;
  font-size: 1.3rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-5 {
  position: absolute;
  left: 2%;
  top: 57.6%;
  width: 37.2%;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-5 p {
  color: #ffba5a;
  font-weight: 600;
  font-size: 2.1rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-5 p:hover {
  color: #665c84;
  font-weight: 600;
  font-size: 2.2rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-6 {
  position: absolute;
  left: 25.4%;
  top: 64.3%;
  width: 26.6%;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-6 p {
  color: #ffba5a;
  font-weight: 600;
  font-size: 1.9rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-6 p:hover {
  color: #665c84;
  font-weight: 600;
  font-size: 2rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-7 {
  position: absolute;
  left: 2%;
  top: 72%;
  width: 40%;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-7 p {
  color: #ffba5a;
  font-weight: 600;
  font-size: 1.7rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .sentence07-7 p:hover {
  color: #665c84;
  font-weight: 600;
  font-size: 1.8rem;
}
.container-fluid #swiper .swiper-container .swiper-slide .topbtn {
  border-radius: 9px;
  height: 40.1px;
  width: 38.8px;
  background-color: #665c84;
  position: absolute;
  right: 2.1%;
  bottom: 12.5%;
}
.container-fluid #swiper .swiper-container .swiper-slide .topbtn a {
  color: #ff856a;
  line-height: 1.5;
  font-weight: 900;
  font-size: 1.5rem;
  transition-duration: 0.5s;
  text-decoration: none;
}
.container-fluid #swiper .swiper-container .swiper-slide .topbtn a:hover {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}
.container-fluid #footer {
  padding: 0px;
  margin-top: 0px;
}
.container-fluid #footer #rectangle {
  width: 100%;
  height: 40px;
  background: #fff;
  padding: 0px;
}
.container-fluid #footer #rectangle a i.fab.fa-facebook.fa-lg {
  color: #665c84;
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 40%;
  transform: translatex(-50%) translatey(-50%);
}
.container-fluid #footer #rectangle a i.fab.fa-youtube.fa-lg {
  color: #ff856a;
  position: absolute;
  display: inline-block;
  left: 52%;
  top: 20%;
}
.container-fluid #footer #rectangle p {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 900;
  padding-top: 30px;
  margin-top: 0px;
}















@media (max-width: 1450px){
  #myChart {
    width: 40%;
    height: 100%;
    position: absolute;
    margin-left: 350px;
    margin-top: 10px;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence02-8 {
    display: block;
    position: absolute;
    left: 37.5%;
    top: 47%;
    width: 40%;
  }
}













































@media (min-width: 1800px){
  .container-fluid #swiper .swiper-container .swiper-slide .sentence02-4 {
    position: absolute;
    left: 51%;
    top: 47%;
    width: 70%;
    display: block;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence02-4 p {
    color: #ffba5a;
    font-weight:900;
    font-size: 1.8rem;
    animation-duration:4s;
    animation-delay: 17s;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence02-8 {
    display: block;
    position: absolute;
    left: 38.5%;
    top: 47%;
    width: 40%;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence02-8 p {
    color: #ffba5a;
    font-weight: 900;
    font-size: 1.8rem;
    animation-duration:4s;
    animation-delay: 25s;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .basket03-1btn {
    color: #fff;
    background-color: #ff7657;
    position: absolute;
    left: 19.7%;
    top: 27%;
    width: 11.7%;
    min-width: 110px;
    height: 6.8%;
    border: none;
    z-index: 500;
    opacity: 1;
    cursor: auto;
    transition-duration: 0.3s;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .basket03-1btn-hide {
    color: #ff856a;
    background-color: #ececec;
    position: absolute;
    left: 19.7%;
    top: 28.6%;
    width: 11.7%;
    min-width: 110px;
    height: 5.2%;
    border: none;
    z-index: 5;
    cursor: pointer;
    opacity: 1;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .five {
    height: auto;
    width: 40%;
    margin-top: 15px;
    margin-left: 720px;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .basket06-1btn {
    color: #fff;
    background-color:#ff896f;
    position: absolute;
    left: 19.7%;
    top: 27%;
    width: 11.7%;
    height: 6.8%;
    border: none;
    z-index: 500;
    opacity: 1;
    cursor: auto;
    transition-duration: 0.3s;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .basket06-1btn-hide {
    color: #ff896f;
    background-color: #ececec;
    position: absolute;
    left: 19.7%;
    top: 28.6%;
    width: 11.7%;
    height: 5.2%;
    border: none;
    z-index: 5;
    cursor: pointer;
    opacity: 1;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .basket06-2btn {
    color: #ff896f;
    background-color: #ececec;
    position: absolute;
    left: 32%;
    top: 28.6%;
    width: 11.7%;
    height: 5.2%;
    border: none;
    z-index: 5;
    cursor: pointer;
    transition-duration: 0.3s;
    opacity: 1;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .basket06-2btn-show {
    color: #fff;
    background-color: #ff896f;
    position: absolute;
    left: 32%;
    top: 27%;
    width: 11.7%;
    height: 6.8%;
    border: none;
    z-index: 5;
    cursor: auto;
    opacity: 1;
  }
}































































/*以下為手機板*/
@media (max-width: 1000px){
  html {
    font-size: 20px;
  }
  nav.navbar.fixed-top.navbar-expand-lg.navbar-light {
    background-color: #fff;
    height: 115px;
    border-bottom: solid #ff7657 2px;
  }
  nav .navbar-brand {
    font-size: 25pt;
    color: #ee8572;
    right: 5%;
    line-height: 1.22;
    text-align: left;
    font-weight: bold;
  }
  nav.navbar.fixed-top.navbar-expand-lg.navbar-light #navbarSupportedContent {
    background-color: #fff;
    padding: 0%;
    margin-top: 16.2px;
    width: 110%;
    margin-left: 0%;
    /*換成手機板時，MARGIN-LEFT要修改*/
  }
  nav.navbar.fixed-top.navbar-expand-lg.navbar-light
  #navbarSupportedContent
  .nav-link {
  margin-right: 100px;
  margin-left: 4%;
  font-size: 50px;
  margin-top: 2%;
  width: 90%;
}
  .container-fluid .row .backbtn {
    display: none;
  }
  .container-fluid {
    margin-top: 10px;
    padding: 0px;
    width: 97.5%;
  }
  .container-fluid #swiper .swiper-container {
    width: 100%;
    height: 100vh;
    /*用82vh 90%width會是沒有滾動軸的樣子 可是圖形會變扁*/
    margin-left: auto;
    margin-right: auto;
    /*border: black solid 1px;*/
  }
  .container-fluid #swiper .swiper-container .swiper-slide {
    text-align: center;
    font-size: 1rem;
  }
  .container-fluid #swiper .swiper-container .swiper-slide div .name {
    margin:0 auto;
    font-weight: 900;
    font-size: 3.5rem;
    margin-top: -50px;
    margin-left: -1%;
    width: fit-content;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .putwordsinside {
    width: 80%;
    margin: 0 auto;
    margin-top: -10%;
    margin-left: -5%;
    animation: slipdown 3s;
    animation-delay: -2;
  }
  .container-fluid
    #swiper
    .swiper-container
    .swiper-slide
    .putwordsinside
    .words {
    color: #7e7e7e;
    font-size: 1.8rem;
    font-weight: normal;
    text-align: justify;
    text-justify: inter-ideograph;
  }
  #myChart {
    width: 100%;
    min-width: 1500px;
    height: 30%;
    margin: 0 auto;
    margin-top: 50%;
    
  }
  .container-fluid #swiper .swiper-container .swiper-slide .morebtn {
    display: none;
  }

  .container-fluid #swiper .swiper-container .swiper-slide div .name02 {
    margin:0 auto;
    font-weight: 900;
    font-size: 3.5rem;
    margin-bottom: 0px;
    margin-top: -80px;
    margin-left: -1%;
    width: fit-content;
    min-width: 600px;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .putwordsinside02 {
    width: 80%;
    margin: 0 auto;
    margin-top: -80px;
    margin-left: 0%;

  }
  .container-fluid #swiper .swiper-container .swiper-slide .putwordsinside02 .words02 {
    font-size: 1.8rem;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence02-1 {
    margin: 0 auto;
    width: 80%;
    min-width: 800px;
    margin-top: 730px;
    margin-left: 10%;
    position: static;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence02-2 {
    position: static;
    margin: 0 auto;
    width: 80%;
    min-width: 800px;
    margin-left: -89%;
    margin-top: 880px;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence02-3 {
    position: static;
    margin: 0 auto;
    width: 80%;
    min-width: 800px;
    margin-left: -88%;
    margin-top: 200px;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence02-4 {
    /*margin: 0 auto;
    width: 80%;
    min-width: 800px;
    margin-left: -42%;
    margin-top: 90px;*/
    display: none;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence02-5 {
    position: static;
    margin: 0 auto;
    width: 80%;
    min-width: 800px;
    margin-left: -92%;
    margin-top: 320px;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence02-6 {
    position: static;
    margin: 0 auto;
    width: 80%;
    min-width: 800px;
    margin-left: -88%;
    margin-top: 450px;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence02-7 {
    position: static;
    margin: 0 auto;
    width: 80%;
    min-width: 800px;
    margin-left: -88%;
    margin-top: 580px;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence02-8 {
    display: none;
    /*margin: 0 auto;
    width: 80%;
    min-width: 800px;
    margin-left: -28%;
    margin-top: 300px;*/
  }
  .container-fluid #swiper .swiper-container .swiper-slide .three-01 {
    margin: 0 auto;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: -180px;
    width: 80%;
    height: auto;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .three-02 {
    height: 47.6%;
    width: 150%;
    margin-top: 0px;
    border-radius: 50%;
    margin-left: 20%;
    opacity: 0;
    /*transition-duration: 0.1s;*/
  }
  .container-fluid #swiper .swiper-container .swiper-slide .three-02-show {
    margin: 0 auto;
    border-radius: 50%;
    margin-left: 2%;
    margin-top: -150px;
    width: 88%;
    min-width: 300px;
    height: auto;
    opacity: 1;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .basket03-1btn {
    margin-left: 8.5%;
    /*margin-left: 8%;*/ /*若要讓螢幕最小視窗時 按鈕不會重疊的話就設這個 但一班手機看就會分開*/
    margin-top: 67.2%;
    width: 20%;
    min-width: 100px;
    height: 70px;
    border: none;
    z-index: 150;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .basket03-1btn-hide {
    margin-left: 8.5%; 
    margin-top: 66%;
    width: 20%;
    min-width: 100px;
    height: 50px;
    border: none;
    z-index: 5;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .basket03-2btn {
    margin-left: 20%;
    margin-top: 66%;
    width: 20%;
    min-width: 100px;
    height: 50px;
    z-index: 5;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .basket03-2btn-show {
    margin-left: 20%;
    margin-top: 67.2%;
    width: 20%;
    min-width: 100px;
    height: 70px;
    border: none;
    z-index: 150;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .basket03 {
    margin-left: 3%;
    margin-top: 67.5%;
    width: 60%;
    height: 23%;
    min-height: 300px;
    border: solid 1px #707070;
    background-color: #fff;
    z-index: 2000;
  }
  .container-fluid
    #swiper
    .swiper-container
    .swiper-slide
    .basket03
    .basket03-1words {
    color: #7e7e7e;
    margin-top: 10%;
    opacity: 1;
    z-index: 10;
    font-size: 1.5rem;
  }
  .container-fluid
    #swiper
    .swiper-container
    .swiper-slide
    .basket03
    .basket03-1words-hide {
    opacity: 0;
  }
  .container-fluid
    #swiper
    .swiper-container
    .swiper-slide
    .basket03
    .basket03-2words {
    color: #7e7e7e;
    margin-top: 10%;
    opacity: 0;
  }
  .container-fluid
    #swiper
    .swiper-container
    .swiper-slide
    .basket03
    .basket03-2words-show {
    opacity: 1;
    font-size: 1.5rem;
  }
  #swiper-slide4{
    display: flex;
    flex-direction: column;
  }
  .sentence_flex{
    margin-top: 15%;
  }
  .container-fluid #swiper .swiper-container .swiper-slide div .name04 {
    margin:0 auto;
    font-weight: 900;
    font-size: 3.5rem;
    margin-bottom: 0px;
    position: relative;
    top: 0;
    left: 0;
    /* margin-top: -80px; */
    /* margin-left: -42.5%; */
    width: fit-content;
    /* min-width: 600px; */
  }
  .container-fluid #swiper .swiper-container .swiper-slide .putwordsinside04 {
    display: flex;
    position: relative;
    width: fit-content;
    margin: 0;
    margin: 3em auto;
    left:0;
    top:0;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .putwordsinside04 .words04{
    /* margin-top: 20px; */
    padding: 0 15%;
    text-align: center;
    font-size: 1.8rem;
  }
  
  .container-fluid #swiper .swiper-container .swiper-slide .sentence04-1 {
    margin: 0 auto;
    width: fit-content;
    position: relative;
    top:0;
    left:0;
    /* min-width: 800px; */
    /* margin-top: 200px; */
    /* margin-left: 120px; */
    /* position: absolute; */
    /* display: none; */
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence04-1 p{
    font-size: 1.9rem;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence04-2 {
    margin: 0 auto;
    width: fit-content;
    position: relative;
    top:0;
    left:0;
    /* min-width: 800px; */
    /* margin-top: 580px; */
    /* margin-left: 190px; */
    /* position: absolute; */
    /* display: none; */
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence04-2 p{
    font-size: 1.9rem;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence04-3 {
    margin: 0 auto;
    width: fit-content;
    position: relative;
    top:0;
    left:0;
    /* min-width: 800px; */
    /* margin-top: 280px; */
    /* margin-left: -80px; */
    /* position: absolute; */
    /* display: none; */
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence04-3 p{
    font-size: 1.9rem;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence04-4 {
    margin: 0 auto;
    width: fit-content;
    position: relative;
    top:0;
    left:0;
    /* min-width: 800px; */
    /* margin-top: 55px; */
    /* margin-left: -30px; */
    /* position: absolute; */
    /* display: none; */
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence04-4 p{
    font-size: 1.9rem;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence04-5 {
    margin: 0 auto;
    width: fit-content;
    position: relative;
    top:0;
    left:0;
    /* min-width: 800px; */
    /* margin-top: 8%; */
    /* margin-left: 100px; */
    /* position: absolute; */
    /* display: none; */
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence04-5 p{
    font-size: 1.9rem;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence04-6 {
    margin: 0 auto;
    width: fit-content;
    position: relative;
    top:0;
    left:0;
    /* min-width: 800px; */
    /* margin-top: 20px; */
    /* margin-left: -200px; */
    /* position: absolute; */
    /* display: none; */
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence04-6 p{
    font-size: 1.9rem;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence04-7 {
    margin: 0 auto;
    width: fit-content;
    position: relative;
    top:0;
    left:0;
    /* min-width: 800px; */
    /* margin-top: -50px; */
    /* position: absolute; */
    /* margin-left: 10px; */
    /* display: none; */
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence04-7 p{
    font-size: 1.9rem;
  }
  .container-fluid #swiper .swiper-container .swiper-slide div .name05 {
    margin:0 auto;
    font-weight: 900;
    font-size: 3.5rem;
    margin-bottom: 0px;
    margin-top: -80px;
    margin-left: 5%;
    width: fit-content;
    min-width: 600px;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .five {
    margin-left: 0px;
    margin-top: 450px;
    width: 60%;
    min-width: 300px;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .putwordsinside05 {
    width: 70%;
    margin: 0 auto;
    margin-top: -100px;
    margin-left: 1%;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .putwordsinside05 .words05{
    font-size: 1.8rem;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .six {
    height: auto;
    width: 80%;
    margin-top: 200px;
    margin-left: 0px;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .six-01 {
    margin: 0 auto;
    border-radius: 50%;
    margin-left: 3.5%;
    margin-top: -200px;
    width: 35%;
    height: auto;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .six-02 {
    height: 47.6%;
    width: 150%;
    margin-top: -180px;
    border-radius: 50%;
    margin-left: 20%;

    opacity: 0;
    /*transition-duration: 0.1s;*/
  }
  .container-fluid #swiper .swiper-container .swiper-slide .six-02-show {
    margin: 0 auto;
    border-radius: 50%;
    margin-left: 3%;
    margin-top: -180px;
    width: 60%;
    min-width: 300px;
    height: auto;
    opacity: 1;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .basket06-1btn {
    margin-left: 8.5%;
    /*margin-left: 8%;*/ /*若要讓螢幕最小視窗時 按鈕不會重疊的話就設這個 但一班手機看就會分開*/
    margin-top: 60.2%;
    width: 20%;
    min-width: 100px;
    height: 70px;
    border: none;
    z-index: 150;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .basket06-1btn-hide {
    margin-left: 8.5%; 
    margin-top: 59%;
    width: 20%;
    min-width: 100px;
    height: 50px;
    border: none;
    z-index: 5;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .basket06-2btn {
    margin-left: 20%;
    margin-top: 59%;
    width: 20%;
    min-width: 100px;
    height: 50px;
    z-index: 5;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .basket06-2btn-show {
    margin-left: 20%;
    margin-top: 60.2%;
    width: 20%;
    min-width: 100px;
    height: 70px;
    border: none;
    z-index: 150;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .basket06 {
    margin-left: 3%;
    margin-top: 60.5%;
    width: 60%;
    height: 24%;
    min-height: 250px;
    border: solid 1px #707070;
    background-color: #fff;
    z-index: 2000;
  }
  .container-fluid
    #swiper
    .swiper-container
    .swiper-slide
    .basket06
    .basket06-1words {
    color: #7e7e7e;
    margin-top: 10%;
    opacity: 1;
    z-index: 10;
    font-size: 1.8rem;
  }
  .container-fluid
    #swiper
    .swiper-container
    .swiper-slide
    .basket06
    .basket06-1words-hide {
    opacity: 0;
  }
  .container-fluid
    #swiper
    .swiper-container
    .swiper-slide
    .basket06
    .basket06-2words {
    color: #7e7e7e;
    margin-top: 10%;
    opacity: 0;
    font-size: 1.8rem;
  }
  .container-fluid
    #swiper
    .swiper-container
    .swiper-slide
    .basket06
    .basket06-2words-show {
    opacity: 1;
  }
  .container-fluid #swiper .swiper-container .swiper-slide #name07 {
    position: static;
    margin:0 auto;
    font-weight: 900;
    font-size: 3.5rem;
    /*bottom: -550px;*/
    /* margin-top: -150px; */
   /* margin-left: 33.3%;*/
   text-align: center;
    width: fit-content;
    /*min-width: 600px;*/
  }
  /* .container-fluid #swiper .swiper-container .swiper-slide #putwordsinside07 {
    width: 80%;
    margin: 0 auto;
    margin-top: -80px;
    left: 26%;
  } */
  .container-fluid #swiper .swiper-container .swiper-slide #putwordsinside07 .words04{
    font-size: 1.8rem;
  }
  .container-fluid
  #swiper
  .swiper-container
  .swiper-slide .wordspic07{
    display: block;
    margin: 0 auto;
    position: relative;
    display: none;
  }
  .container-fluid
  #swiper
  .swiper-container
  .swiper-slide .wordspic07 img{
    position: relative;
    width: 600px;
    height: auto;
    margin-top: 350px;
    margin-left: -550px;
    display: none;
  }
  #swiper-slide5{
    display: flex;
    flex-direction: column;
  }
  .div_name04{
    margin: 0 auto;
    display: flex;
  }
  .container-fluid
  #swiper
  .swiper-container
  .swiper-slide
  .putwordsinside04
  .words04{
    position: relative;
  }
  .sentence_flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence07-1 {
    margin: 0 auto;
    width: 100%;
    position: relative;
    left:0;
    top:0;
  }

  .container-fluid #swiper .swiper-container .swiper-slide .sentence07-1 p{
    font-size: 1.7rem;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence07-2 {
    position: relative;
    margin: 0 auto;
    width: 100%;
    left:0;
    top:0;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence07-2 p{
    font-size: 1.7rem;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence07-3 {
    position: relative;
    margin: 0 auto;
    width: 100%;
    left:0;
    top:0;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence07-3 p{
    font-size: 1.7rem;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence07-4 {
    position: relative;
    width: 100%;
    left:0;
    top:0;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence07-4 p{
    font-size: 1.7rem;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence07-5 {
    position: relative;
    margin: 0 auto;
    width: 100%;
    left:0;
    top:0;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence07-5 p{
    font-size: 1.7rem;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence07-6 {
    position: relative;
    margin: 0 auto;
    width: 100%;
    left:0;
    top:0;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence07-6 p{
    font-size: 1.7rem;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence07-7 {
    position: relative;
    margin: 0 auto;
    width: 100%;
    left:0;
    top:0;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence07-7 p{
    position: relative;
    font-size: 1.7rem;
  }
  .container-fluid #swiper .swiper-container .swiper-slide .sentence07-8 {
    position: relative;
    left:0;
    top:0;
  }
  .container-fluid #footer #rectangle a i.fab.fa-facebook.fa-lg {
    color: #665c84;
    position: absolute;
    display: inline-block;
    left: 49%;
    top: 40%;
    transform: translatex(-50%) translatey(-50%);
  }
  .container-fluid #footer #rectangle a i.fab.fa-youtube.fa-lg {
    color: #ff856a;
    position: absolute;
    display: inline-block;
    left: 52%;
    top: 20%;
  }
}