@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

body {
  background-color: white;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: auto;
}

nav .navbar-brand {
  font-size: 18pt;
  color: #ee8572;
  right: 5%;
  line-height: 1.22;
  text-align: left;
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c', '微軟正黑體';
}

nav.navbar.fixed-top.navbar-expand-lg.navbar-light {
  background-color: #fff;
  border-bottom: solid #c0c0c0 1px;
  height: 10.1%;
  padding-bottom: 1%;
  padding-top: 1%;
}
.hideUp nav.navbar.fixed-top.navbar-expand-lg.navbar-light {
  top: -350px;
  left: 5%;
}
nav.navbar.fixed-top.navbar-expand-lg.navbar-light a {
  color: #ffba5a;
  font-weight: bold;
  margin-left: 2%;
}
nav.navbar.fixed-top.navbar-expand-lg.navbar-light a .workwell{
  color: #ff7657;
  margin-bottom: -20%;
  font-family: 'M PLUS Rounded 1c', '微軟正黑體';
}
nav.navbar.fixed-top.navbar-expand-lg.navbar-light a:hover {
  color: #ff7657;
  transform: scale(1.1);
}
nav.navbar.fixed-top.navbar-expand-lg.navbar-light #here {
  color: #ff7657;
}
nav.navbar.fixed-top.navbar-expand-lg.navbar-light #navbarSupportedContent {
  background-color: #fff;
  padding: 0.4%;
  margin-top: 0.5%;
  width: 100%;
  margin-left: 10%;
}
nav.navbar.fixed-top.navbar-expand-lg.navbar-light
  #navbarSupportedContent
  .nav-link {
  margin-right: 100px;
  margin-left: 3px;
  font-size: large;
  width: 80%;
}
.container-fluid {
  margin-top: 60px;
  padding: 0px;
  width: 97.5%;
}
.container-fluid .row .title {
  margin: 0 auto;
  margin-top: 60px;
  width: 100%;
}
.container-fluid .row .title p {
  color: #ff7657;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}
.container-fluid .row .photo1{
  position: relative;
  margin-left: 26.5%;
  margin-top: 40px;
}
.container-fluid .row .photo1 img{
  width: 65%;
  height: auto;
}
.container-fluid .row .words1 {
  position: relative;
  left: 17.5%;
  right: 17.5%;
  margin-top: 2%;
  width: 65%;
}
.container-fluid .row .words1 p{
  margin:0 auto;
  margin-top: 30px;
  color: #7e7e7e;
  font-size: 1rem;
  font-weight: normal;
  text-align: justify;
  text-justify: inter-ideograph;
  line-height: 1.8;
}
.container-fluid .row .small-title1 {
  position: relative;
  left: 17.5%;
  margin-top: 30px;
  width: 80%;
}
.container-fluid .row .small-title1 p {
  color: #ff7657;
  font-size: 1.3rem;
  font-weight: 700;
}
.container-fluid .row .words2 {
  position: relative;
  left: 17.5%;
  right: 17.5%;
  margin-top: 30px;
  width: 65%;
  line-height: 1.8;
}
.container-fluid .row .words2 p{
  color: #7e7e7e;
  font-size: 1rem;
  font-weight: normal;
  text-align: justify;
  text-justify: inter-ideograph;
}
.container-fluid .row .photo2{
  position: relative;
  margin-left: 26.5%;
  margin-top: 40px;
}
.container-fluid .row .photo2 img{
  width: 65%;
  height: auto;
}
.container-fluid .row .words3 {
  position: relative;
  left: 17.5%;
  right: 17.5%;
  margin-top: 40px;
  width: 65%;
  line-height: 1.8;
}
.container-fluid .row .words3 p{
  color: #7e7e7e;
  font-size: 1rem;
  font-weight: normal;
  text-align: justify;
  text-justify: inter-ideograph;
}
.container-fluid .row .small-title2 {
  position: relative;
  left: 17.5%;
  margin-top: 40px;
  width: 100%;
}
.container-fluid .row .small-title2 p {
  color: #ff7657;
  font-size: 1.3rem;
  font-weight: 700;
}
.container-fluid .row .words4 {
  position: relative;
  left: 17.5%;
  right: 17.5%;
  margin-top: 30px;
  width: 65%;
  line-height: 1.8;
}
.container-fluid .row .words4 p{
  color: #7e7e7e;
  font-size: 1rem;
  font-weight: normal;
  text-align: justify;
  text-justify: inter-ideograph;
}
.container-fluid .row .photo3{
  position: relative;
  margin-left: 26.5%;
  margin-top: 40px;
}
.container-fluid .row .photo3 img{
  width: 65%;
  height: auto;
}
.container-fluid .row .words5 {
  position: relative;
  left: 17.5%;
  right: 17.5%;
  margin-top: 40px;
  width: 65%;
  line-height: 1.8;
}
.container-fluid .row .words5 p{
  color: #7e7e7e;
  font-size: 1rem;
  font-weight: normal;
  text-align: justify;
  text-justify: inter-ideograph;
}
.container-fluid .row .small-title3 {
  position: relative;
  left: 17.5%;
  margin-top: 40px;
  width: 80%;
}
.container-fluid .row .small-title3 p {
  color: #ff7657;
  font-size: 1.3rem;
  font-weight: 700;
}
.container-fluid .row .words6 {
  position: relative;
  left: 17.5%;
  right: 17.5%;
  margin-top: 35px;
  width: 65%;
  line-height: 1.8;
}
.container-fluid .row .words6 p{
  color: #7e7e7e;
  font-size: 1rem;
  font-weight: normal;
  text-align: justify;
  text-justify: inter-ideograph;
}
.container-fluid .row .small-title4 {
  position: relative;
  left: 17.5%;
  margin-top: 40px;
  width: 80%;
}
.container-fluid .row .small-title4 p {
  color: #ff7657;
  font-size: 1.3rem;
  font-weight: 700;
}
.container-fluid .row .words7 {
  position: relative;
  left: 17.5%;
  right: 17.5%;
  margin-top: 30px;
  width: 65%;
  line-height: 1.8;
}
.container-fluid .row .words7 p{
  color: #7e7e7e;
  font-size: 1rem;
  font-weight: normal;
  text-align: justify;
  text-justify: inter-ideograph;
}
.container-fluid .row .photo4{
  position: relative;
  margin-left: 26.5%;
  margin-top: 40px;
}
.container-fluid .row .photo4 img{
  width: 65%;
  height: auto;
}
.container-fluid .row .words8 {
  position: relative;
  left: 17.5%;
  right: 17.5%;
  margin-top: 40px;
  width: 65%;
  line-height: 1.8;
}
.container-fluid .row .words8 p{
  color: #7e7e7e;
  font-size: 1rem;
  font-weight: normal;
  text-align: justify;
  text-justify: inter-ideograph;
}
.container-fluid .row .backbtn {
  border-radius: 9px;
  height: 40.1px;
  width: 38.8px;
  background-color: #665c84;
  margin-top: 50px;
  margin-left: 1300px;
  padding-left: 0.6%;
}
.container-fluid .row .backbtn a {
  color: #ff856a;
  line-height: 2.1;
  font-weight: 900;
  font-size: 1.1rem;
  transition-duration: 0.5s;
  text-decoration: none;
}
.container-fluid .row .backbtn a:hover {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.9;
  } .backbtn a:hover {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.9;
}
.container-fluid .row .readmore {
  position: relative;
  left: 10%;
  margin-top: 80px;
  width: 80%;
}
.container-fluid .row .readmore p {
  color: #ff7657;
  font-size: 2rem;
  font-weight: 700;
}
#article .container{
  justify-content: center;
  align-items: center;
  width: 80%;
}
img{
  width: 100%;
}
.glide__slides{
  top: 10px;
}
.glide__slide a{
  text-decoration:none;
}
.glide__slide a p{
  font-size: 1rem;
  justify-content: center;
  color: #7e7e7e;
  margin-top: 20px;
}

.container-fluid #footer {
  padding: 0px;
  margin-bottom: 0px;
}
.container-fluid #footer #rectangle {
  width: 100%;
  height: 40px;
  background: #fff;
  padding: 0px;
  margin-top: 1%;
}
.container-fluid #footer #rectangle a i.fab.fa-facebook.fa-lg {
  color: #665c84;
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 40%;
  transform: translatex(-50%) translatey(-50%);
}
.container-fluid #footer #rectangle a i.fab.fa-youtube.fa-lg {
  color: #ff856a;
  position: absolute;
  display: inline-block;
  left: 52%;
  top: 20%;
}
.container-fluid #footer #rectangle p {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 900;
  padding-top: 30px;
  margin-top: 70px;
}










/*以下為手機板*/
@media (max-width: 1200px){
  body{
    overflow: scroll;
  }
  html {
    font-size: 20px;
  }
  nav.navbar.fixed-top.navbar-expand-lg.navbar-light {
    background-color: #fff;
    height: 115px;
    border-bottom: solid #ff7657 2px;
  }
  nav .navbar-brand {
    font-size: 25pt;
    color: #ee8572;
    right: 5%;
    line-height: 1.22;
    text-align: left;
    font-weight: bold;
  }
  nav.navbar.fixed-top.navbar-expand-lg.navbar-light #navbarSupportedContent {
    background-color: #fff;
    padding: 0%;
    margin-top: 20px;
    width: 110%;
    margin-left: 0%;
    /*換成手機板時，MARGIN-LEFT要修改*/
  }
  .container-fluid {
    margin-top: 60px;
    padding: 0px;
    width: 97.5%;
  }
  .container-fluid .row .backbtn {
    display: none;
  }
  .container-fluid .row .title {
    margin: 0 auto;
    margin-top: 100px;
    margin-left: 10%;
    width: 90%;
  }
  .container-fluid .row .title p {
    color: #ff7657;
    font-size: 1.8rem;
  }
  .container-fluid .row .photo1{
    margin-left: 17.5%;
    margin-top: 40px;
  }
  .container-fluid .row .photo1 img{
    width: 100%;
    height: auto;
  }
  .container-fluid .row .photo2{
    margin-left: 17.5%;
    margin-top: 40px;
  }
  .container-fluid .row .photo2 img{
    width: 100%;
    height: auto;
  }
  .container-fluid .row .photo3{
    margin-left: 17.5%;
    margin-top: 40px;
  }
  .container-fluid .row .photo3 img{
    width: 100%;
    height: auto;
  }
  .container-fluid .row .photo4{
    margin-left: 17.5%;
    margin-top: 40px;
  }
  .container-fluid .row .photo4 img{
    width: 100%;
    height: auto;
  }
  .container-fluid .row .small-title1 {
    left: 18.5%;
    width: 100%;
  }
  .container-fluid .row .small-title2 {
    left: 18.5%;
    width: 100%;
  }
  .container-fluid .row .small-title3 {
    left: 18.5%;
    width: 100%;
  }
  .container-fluid .row .small-title4 {
    left: 18.5%;
    width: 100%;
  }
  .container-fluid .row .words1 {
    position: relative;
    margin: 0 auto;
    margin-top: 2%;
    width: 80%;
    margin-left: 1%;
  }
  .container-fluid .row .words2 {
    position: relative;
    margin: 0 auto;
    margin-top: 2%;
    width: 80%;
    margin-left: 1%;
  }
  .container-fluid .row .words3 {
    position: relative;
    margin: 0 auto;
    margin-top: 2%;
    width: 80%;
    margin-left: 1%;
  }
  .container-fluid .row .words4 {
    position: relative;
    margin: 0 auto;
    margin-top: 2%;
    width: 80%;
    margin-left: 1%;
  }
  .container-fluid .row .words5 {
    position: relative;
    margin: 0 auto;
    margin-top: 2%;
    width: 80%;
    margin-left: 1%;
  }
  .container-fluid .row .words6 {
    position: relative;
    margin: 0 auto;
    margin-top: 2%;
    width: 80%;
    margin-left: 1%;
  }
  .container-fluid .row .words7 {
    position: relative;
    margin: 0 auto;
    margin-top: 2%;
    width: 80%;
    margin-left: 1%;
  }
  .container-fluid .row .words8 {
    position: relative;
    margin: 0 auto;
    margin-top: 2%;
    width: 80%;
    margin-left: 1%;
  }
  .container-fluid .row .readmore {
    position: relative;
    margin: 0 auto;
    width: fit-content;
    margin-top: 100px;
  }
  /*下為wiper*/
  .container{
    margin:0 auto;
    margin-left: 20.3%;
    margin-top: 50px;
  }
  .container-fluid .row .backbtn {
    display: none;
  }
  .container-fluid #footer {
    padding: 0px;
    margin-bottom: 0px;
    margin-left: 5%;
  }
  .container-fluid #footer #rectangle a i.fab.fa-facebook.fa-lg {
    color: #665c84;
    position: absolute;
    display: inline-block;
    left: 49%;
    top: 40%;
    transform: translatex(-50%) translatey(-50%);
  }
  .container-fluid #footer #rectangle a i.fab.fa-youtube.fa-lg {
    color: #ff856a;
    position: absolute;
    display: inline-block;
    left: 52%;
    top: 20%;
  }
}